# Compiled class files
*.class

# Log files
*.log

# BlueJ files
.bluej/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
private/

# Visual Studio Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

